body {
    padding: 1rem;
}

.card {
    color: rgb(27, 26, 26);
    padding: 1rem;
    height: auto;
    text-align: center;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}